<section class="full-page">
  <section class="auth-container">
    <!-- forget password form -->
    <div class="text-center" *ngIf="sectionSwitch == 'forget'">
      <img src="assets/images/mahvie-logo.png" alt="logo">
      <h2 class="text-center">Forgot Password?</h2>
      <p>Enter you email id</p>
      <form id="forget-form" role="form" class="form" [formGroup]="forgetForm" (ngSubmit)="onSubmit('forget')">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input id="forgetAnswer" name="forgetAnswer" placeholder="Email" class="form-control w-100"
              type="text" formControlName="email" autocomplete="off">
            <span class="text-danger"
              *ngIf="forgetForm.controls['email'].touched && forgetForm.controls['email'].hasError('required')">required
              field</span>
            <span class="text-danger"
              *ngIf="forgetForm.controls['email'].dirty && forgetForm.controls['email'].hasError('pattern')">invalid
              email</span>
          </div>
        </div>
        <div class="form-group">
          <input [disabled]="forgetForm.invalid" name="btnForget"
            class="btn btn-lg btn-primary btn-block btnForget" value="Send Verification Mail" type="submit">
        </div>
      </form>
    </div>

    <!-- reset password form -->
    <div class="text-center" *ngIf="sectionSwitch == 'reset'">
      <img src="assets/images/mahvie-logo.png" alt="logo">
      <h2 class="text-center">Reset Password</h2>
      <p>Enter you password</p>
      <form id="forget-form" role="form" class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit('reset')">
        <div class="form-group">
          <div class="input-group">
            <input id="forgetAnswer" name="forgetAnswer" placeholder="Password" class="form-control w-100 mb-2"
              type="text" formControlName="password" autocomplete="off">
            <span class="text-danger"
              *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].hasError('required')">required field</span>
          </div>
        </div>
        <div class="form-group">
          <input [disabled]="resetForm.invalid" name="btnForget"
            class="btn btn-lg btn-primary btn-block btnForget" value="Reset Password" type="submit">
        </div>
      </form>
    </div>
  </section>
</section>
