.border-2 {
    border-width: 2px !important;
    border-color: lightgrey !important;
}

.backIcon {
    font-size: 23px;
    font-weight: bold;
    margin-left: 120px;
}

.fa-chevron-left {
    color: #F45D01;
}

.headerStyle {
    min-height: 100px;
}


/*css*/

.textStyle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #18344E;
    float: left;
    position: absolute;
    margin-left: 3rem;
}