<!-- <header>
    <button *ngIf="isButtonVisible" (click)="previous()">Back</button>
    <span *ngIf="!isButtonVisible" class="offscreen"></span>
    <img src="assets/images/mahvie-logo.png" alt="">
</header> -->

<!-- <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <img src="assets/images/mahvie-logo.png" alt="" class="p-0 ml-4 mr-auto float-left">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">ABOUT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">LOG IN</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link">get in touch</a>
        </li>
    </ul>
</nav> -->

<div class="topnav" id="myTopnav">
    <img src="assets/images/mahvie-logo.png" alt="" class="p-0 ml-4 mr-auto float-left" [routerLink]="['/home']">

    <a class="active">get in touch</a>
    <a>LOG IN</a>
    <a>ABOUT US</a>
    <a href="javascript:void(0);" class="icon" (click)="menuFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>