@import "base";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #B9B9B9;
  padding: 15px 60px;

  .offscreen {
    display: inline-block;
    margin-right: auto;
    width: 82px;
    height: 1px;
  }
  img{
    margin-right: auto;
    padding-right: 75px;
    width: 150px;
  }
  button {
    position: relative;
    padding: 10px 10px 10px 30px;
    border: none;
    background: $t;
    color: $b;
    font-size: 1rem;
    font-weight: 500;
    margin-right: auto;

    &:before {
      @include basvg(back, 20px, 20px, 20px);
      @include tl(50%, 0);
      margin-top: -10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 20px 30px;

    img {
      margin: 0;
      padding: 0;
      width: 70px;
    }
    button {
      margin: 0;
    }
  }
}


