<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="../../../assets/icons/mahvie-logo.png" alt="car-key">
                        <h2 class="text-center">Register</h2>
                        <p>Please enter your details</p>
                        <form id="register-form" class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="input-group mb-3">
                                <input type="text" name="" class="form-control input_user w-100" value="" placeholder="Username" formControlName="username">
                                <span class="text-danger" *ngIf="submitClicked && registerForm.get('username').invalid">enter valid username</span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" name="" class="form-control w-100" value="" placeholder="Password" formControlName="password">
                                <span class="text-danger" *ngIf="submitClicked && registerForm.get('password').invalid">enter valid password</span>
                            </div>
                            <div class="input-group mb-3 ">
                                <input type="text " name="" class="form-control w-100 " value="" placeholder="Email address " formControlName="email">
                                <span class="text-danger " *ngIf="submitClicked && registerForm.get('email').invalid">enter valid email</span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="" class="form-control w-100" value="" placeholder="First name" formControlName="first_name">
                                <span class="text-danger" *ngIf="submitClicked && registerForm.get('first_name').invalid">enter valid first name</span>
                            </div>
                            <div class="input-group mb-3 ">
                                <input type="text " name="" class="form-control w-100 " value="" placeholder="Last name " formControlName="last_name">
                                <span class="text-danger " *ngIf="submitClicked && registerForm.get('last_name').invalid">enter valid last name</span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="" class="form-control w-100" value="" placeholder="Phone number" formControlName="phone_number">
                                <span class="text-danger" *ngIf="submitClicked && registerForm.get('phone_number').invalid">enter valid phone number</span>
                            </div>
                            <div class="form-group ">
                                <button class="btn btn-lg btn-primary btn-block btnForget " type="submit ">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>