<section class="full-page">
  <section class="auth-container register">
    <img src="assets/images/mahvie-logo.png" alt="car-key">
    <h2 class="text-center">Register</h2>
    <p>Please enter your details</p>
    <form id="register-form" class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <input type="text" name="" class="form-control input_user w-100" value="" placeholder="Username"
          formControlName="username" autocomplete="off">
        <span class="text-danger"
          *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].hasError('required')">required
          field</span>
      </div>
      <div class="input-group mb-3">
        <input type="password" name="" class="form-control w-100" value="" placeholder="Password"
          formControlName="password" autocomplete="off">
        <span class="text-danger"
          *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('required')">required
          field</span>
      </div>
      <div class="input-group mb-3 ">
        <input type="text " name="" class="form-control w-100 " value="" placeholder="Email address "
          formControlName="email" autocomplete="off">
        <span class="text-danger"
          *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')">required
          field</span>
        <span class="text-danger"
          *ngIf="registerForm.controls['email'].dirty && registerForm.controls['email'].hasError('pattern')">invalid
          email</span>
      </div>
      <div class="input-group mb-3">
        <input type="text" name="" class="form-control w-100" value="" placeholder="First name"
          formControlName="first_name" autocomplete="off">
        <span class="text-danger"
          *ngIf="registerForm.controls['first_name'].touched && registerForm.controls['first_name'].hasError('required')">required
          field</span>
      </div>
      <div class="input-group mb-3 ">
        <input type="text " name="" class="form-control w-100 " value="" placeholder="Last name "
          formControlName="last_name" autocomplete="off">
        <span class="text-danger"
          *ngIf="registerForm.controls['last_name'].touched && registerForm.controls['last_name'].hasError('required')">required
          field</span>
      </div>
      <div class="input-group mb-3">
        <input type="text" name="" class="form-control w-100" value="" placeholder="Phone number"
          formControlName="phone_number" autocomplete="off">
        <span class="text-danger"
          *ngIf="registerForm.controls['phone_number'].touched && registerForm.controls['phone_number'].hasError('required')">required
          field</span>
        <span class="text-danger"
          *ngIf="registerForm.controls['phone_number'].dirty && registerForm.controls['phone_number'].hasError('pattern')">invalid
          phone number</span>
        <span class="text-danger"
          *ngIf="registerForm.controls['phone_number'].dirty && registerForm.controls['phone_number'].hasError('maxlength')">Maximum
          of 12 digits allowed</span>
      </div>
      <div class="form-group ">
        <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary btn-block btnForget "
          type="submit ">Register</button>
      </div>
    </form>
  </section>
</section>