@import "base";

$preference-list: "life-insurance", "critical-illness", "long-term-care";

.mt-132 {
  margin-top: 30px;
}

.mt-46 {
  margin-top: 64px;
}

.titleText {
  width: 100%;
  font: 500 1.75rem "Playfair Display";
  color: #18344e;
  margin: 0 auto 30px;
}

.inputHalf {
  padding: 0 15px;
  width: 360px;
  height: 50px;
  background: $w;
  border: 2px solid #2b5d8c;
  margin: 8px 0;
}

.mx-auto {
  position: relative;

  .inputHalf:last-child {
    margin-left: 10px;
  }
}

.inputText {
  font-size: 1rem;
  color: darken($placeholder, 25%);
  padding-left: 20px;

  &::placeholder {
    color: $placeholder;
  }
  &:focus {
    @include radius(0);
    outline: 2px solid lighten($primary, 35%);
    border: 2px solid $primary;
    border-color: $primary;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  button {
    &:last-child {
      margin-top: 30px;
    }
  }
}

.submitBtn, .skipText {
  font-size: 1rem;
  height: 50px;
  width: 350px;
  background: #f45d01;
  border: 1px solid $disabled;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0.04em;
  color: $w;

  &[disabled] {
    background: $disabled;
  }
}

.skipText {
  background: $w;
  color: $primary;
  border: none;
}

.inputFull {
  height: 50px;
  width: 70%;
  border-radius: 0;
  padding: 20px 15px;
  margin: 15px auto 0;
  background: $w;
  border: 2px solid $secondary;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.active {
    background-color: #f5c0a0;
    border: 2px solid #f45d01;
    z-index: 999 !important;
  }
  input[type="radio"] {
    height: 20px;
    width: 20px;
    border-radius: 0;
    background: $w;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    position: relative;

    &:focus {
      box-shadow: none;
    }
    &:checked:after {
      @include radius(50%);
      @include tl(50%, 50%);
      display: inline-block;
      background: #333;
      content: "";
      height: 12px;
      width: 12px;
      margin: -6px 0 0 -6px;
    }
  }
}

.show-pointer {
  cursor: pointer;
}

.inputDate {
  padding: 28px 16px;
  height: 50px;
  border: 2px solid $secondary;

  &.t1 {
    width: 30% !important;
  }
  &:focus {
    border-color: $secondary;
    outline: none;
  }
}

.t1 {
  font: 700 1rem 'Source Sans Pro';
  text-align: right;
  color: #18344e;
  border: 2px solid $secondary;
}

.t2 {
  font: 700 1rem 'Lato';
  text-align: center;
  color: #a0a0a0;
  border: 2px solid $secondary;
  border-left: none;
}

.calenderIcon {
  @include tl(50%, 60px);
  margin-top: -20px;
}

.centered-content {
  display: inline-block;
  vertical-align: middle;
  /* width: 800px; */
  width: 100%;
}

.questionsStyle {
  font: 1.2rem "Source Sans Pro";
  color: $secondary;
  text-align: center;
  width: 75%;
  margin: auto;
}

.optStyle {
  font: 1rem "Lato";
  font-weight: bold;
  color: #18344e;
  margin-bottom: 0;
  pointer-events: none;
}

.slideInpText {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  color: #a0a0a0;
  left: 415px;
  top: 518px;
  position: absolute;
}

.inputSlide {
  text-align: right;
  font: 1.4rem 'Lato';
  color: #a0a0a0;
}

mat-slider {
  width: 100%;
}

.mb-74 {
  margin-bottom: 40px;
}

.sliderLabel {
  margin-top: 16px;
  font: 1.4rem 'Lato';
  text-align: center;
  color: #18344e;
}

.product-des {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #18344e;
}

.product-h {
  height: 72px;
}

.img-fluid {
  width: 75px !important;
}

/* preferences */
.preference {
  display: block;
  position: relative;
  padding-top: 95px;

  * {
    @include transit(0.4s);
  }
  input[type="radio"] {
    display: none;
  }
  &:before {
    @include tl(0, 0);
    content: "";
    width: 100%;
    height: 72px;
  }
  @each $item in $preference-list {
    &.#{$item}:before {
      @include svg($item);
      background-position: center;
    }
  }
  span.title {
    color: $secondary;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }
  .show-on-hover {
    @include radius(5px);
    @include box-shadow(0, 5px, 10px, 24, 52, 78, 0.1);
    @include tl(calc(100% + 15px), 0);
    width: 100%;
    padding: 30px;
    background: $disabled;
    border: 1px solid ligthen($light-border, 10%);
    color: $secondary;
    display: grid;
    place-items: center;
    text-align: left;
    opacity: 0;
    pointer-events: none;
  }
  &:hover,
  &.active {
    @each $item in $preference-list {
      &.#{$item}:before {
        $item: $item + "-hover";
        @include svg($item);
        background-position: center;
      }
    }
    span.title {
      color: $primary;
    }
  }
  &:hover {
    .show-on-hover {
      opacity: 1;
    }
  }
}

.slider-amounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.children-length {
  position: relative;

  &:after {
    @include basvg(down, 10px, 10px, 10px);
    @include tr(50%, 5px);
    margin-top: -5px;
  }
  select {
    font-size: 1rem;
    background: $t;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
    margin-left: 20px;
    border: none;
    padding: 6px;
    border-bottom: 2px solid $placeholder;
  }
}

.get-started {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;

  .start {
    font-size: 1rem;
    padding: 110px 60px 0;
    color: $secondary;
    text-align: center;
    position: relative;

    &:before,
    &:after {
      @include tl(0, 0);
      width: 100%;
      height: 90px;
      content: "";
    }
    @for $i from 1 through 3 {
      &.start#{$i}:before {
        @include svg(start#{$i}-bg);
        background-size: 74px;
        background-position: center;
      }
      &.start#{$i}:after {
        @include svg(start#{$i});
        background-size: 74px;
        background-position: center;
      }
    }
  }
}

.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(248, 217, 198, 0.85);
  display: grid;
  place-items: center;

  .content {
    @include box-shadow(0, 0, 4px, 0, 0, 0, 0.15);
    @include radius(6px);
    width: 60%;
    background: $w;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 24%;
    }
    .reason {
      width: 68%;

      .title {
        color: darken(#3e566b, 18%);
        padding: 0 0 20px;
        font: 700 1.3rem "Source Sans Pro";
        border-bottom: 1px solid $light-border;
        margin-bottom: 30px;
        text-align: left;
      }
      p {
        font-size: 1rem;
        text-align: left;
        line-height: 28px;
        color: $secondary;
      }
      a {
        margin-top: 40px;
        display: block;
        letter-spacing: 1px;
        color: $primary;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .popup {
    .content {
      flex-direction: column;
      align-items: stretch;
      padding: 30px;

      img {
        width: 70px;
        margin-bottom: 20px;
      }
      .reason {
        width: 100%;

        p {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

.info {
  @include svg(info);
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-size: 20px;
}
