<div class="contain centered-wrapper">
    <div class="centered-content contianer">
        <form class="mt-132">
            <section>
                <h1 class="titleText">{{currentQuestion.title}}</h1>
                <div class="questionsStyle w-100 mt-4" *ngIf="currentQuestion.subtitle">
                    {{currentQuestion.subtitle}}
                </div>
            </section>
            <section class="mt-132">
                <div class="row w-75 mx-auto">
                    <div class="questionsStyle col-sm-7 text-left mx-auto" *ngIf="currentQuestion.question">
                        {{currentQuestion.question}}
                    </div>
                    <div *ngIf="currentQuestion.type === 'radio'" class="col-sm-7 mx-auto">
                        <div class="inputFull" [ngClass]="{ 'active': optionVal.active }" *ngFor="let optionVal of currentQuestion.options;let i=index" (click)="activeSetter(i, currentQuestion.options, $event)">
                            <input type={{currentQuestion.type}} class="inpChecked form-control" value={{optionVal}} name={{currentQuestion.name}}>
                            <label class="optStyle">{{optionVal.value | titlecase }}</label><br>
                        </div>
                    </div>
                    <div class="mt-4" *ngIf="currentQuestion.type === 'text' && currentQuestion.inline" class="mx-auto">
                        <input type="text" class="inputText inputHalf col-sm-6" placeholder={{fields}} *ngFor="let fields of currentQuestion.options">
                    </div>
                    <div class="mt-4" *ngIf="currentQuestion.type === 'text' && !currentQuestion.inline" class="col-sm-7 mx-auto">
                        <input type="text" class="inputText inputFull" placeholder={{fields}} *ngFor="let fields of currentQuestion.options">
                    </div>
                    <div class="mt-4" *ngIf="currentQuestion.type === 'slider'" class="col-sm-7 mx-auto">
                        <!-- <label class="slideInpText">$</label> -->
                        <input type="text" class="inputFull inputSlide mb-74" matInput [(ngModel)]="sliderValue" [ngModelOptions]="{standalone: true}">
                        <mat-slider [max]="currentQuestion.validations.max" [min]="currentQuestion.validations.min" [(ngModel)]="sliderValue" [ngModelOptions]="{standalone: true}"></mat-slider>
                        <label class="float-left sliderLabel">{{currentQuestion.validations.min | currency}}</label>
                        <label class="float-right sliderLabel">{{currentQuestion.validations.max | currency}}</label>
                    </div>
                    <div class="mt-4 dateField" *ngIf="currentQuestion.type === 'date'" class="col-sm-7 mx-auto">
                        <input matInput [matDatepicker]="dp3" disabled (dateChange)="addEvent('change', $event)" class="inputDate t1" style="width:40%" placeholder="Date of Birth">
                        <div class="calenderIcon">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </div>
                        <!-- <input type="text" class="inputDate t1" style="width:40%" value="Date of birth" readonly> -->
                        <input type="text" class="inputDate t2" style="width:20%" placeholder="MM" readonly [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
                        <input type="text" class="inputDate t2" style="width:20%" placeholder="DD" readonly [(ngModel)]="month" [ngModelOptions]="{standalone: true}">
                        <input type="text" class="inputDate t2" style="width:20%" placeholder="YYYY" readonly [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
                        <!-- <mat-form-field appearance="fill" class="inputFull mb-74 p-0">
                            <mat-label>Date of birth</mat-label>
                            <input matInput [matDatepicker]="dp3" disabled (dateChange)="addEvent('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field> -->
                    </div>
                    <!-- preferences -->
                    <div class="row mt-4 w-100 mt-3" *ngIf="currentQuestion.type === 'div'">
                        <div class="col-md-4 mt-4 text-center">
                            <a href="javascript:void(0)" (click)="setPreference($event)" class="preference life-insurance">
                              <span class="title">life insurance</span>
                              <div class="show-on-hover">
                                If I were to pass away, I would like to give money to a person(s) of my choice.
                              </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-4 text-center">
                            <a href="javascript:void(0)" (click)="setPreference($event)" class="preference critical-illness">
                              <span class="title">critical illness</span>
                              <div class="show-on-hover">
                                If I were to suffer a stroke, heart attack or  get cancer, I would like to personally receive a large amount of money.
                              </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-4 text-center">
                            <a href="javascript:void(0)" (click)="setPreference($event)" class="preference long-term-care">
                              <span class="title">long term care</span>
                              <div class="show-on-hover">
                                If I were unable to perform my daily tasks independently, I would like to receive money to hire assistance.
                              </div>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="submitBtn" [attr.disabled]="null" type="button" name="name" (click)="submit()">Continue</button>
                <div>
                  <button *ngIf="formSection === 2" class="skipText" (click)="submit()">Skip for now</button>
                </div>
            </section>
        </form>
    </div>
</div>
