<div class="mt-46" id="grad1" *ngIf="currentQuestion.category">
    <hr class="b-dash">
    <div class="container">
        <div>

            <div class="">
                <div class="">
                    <div class="">
                        <form id="msform">

                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li [ngClass]="{'active':currentQuestion.category=='about-you','finish':currentQuestion.category=='finances'||currentQuestion.category=='recommendation'}" id="account"> <img src="assets/images/about-youAsset-4@2x-1.png" class="imhg-fluid"><strong>About you</strong></li>
                                <li [ngClass]="{'active':currentQuestion.category=='finances','finish':currentQuestion.category=='recommendation'}" id="personal"><img src="assets/images/financesAsset-2@2x-1.png" class="imhg-fluid"><strong>Finances</strong></li>
                                <li [ngClass]="{'active':currentQuestion.category=='recommendation'}" id="payment"><img src="assets/images/registerAsset-6@2x-1.png" class="imhg-fluid"><strong>Recommendation</strong></li>
                                <li [ngClass]="{'active':currentQuestion.category=='recommendation1'}" id="confirm"> <img src="assets/images/recommendationAsset-4@2x-1.png" class="imhg-fluid"><strong>Review</strong></li>
                                <li [ngClass]="{'active':currentQuestion.category=='about-you1'}" id="confirm"> <img src="assets/images/registerAsset-5@2x-1.png" class="imhg-fluid"><strong>Register</strong></li>
                            </ul>
                            <!-- fieldsets -->

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]="fieldSet">
                                    <sup style="right: -40px;
                                        top: 12px;
                                        color: #18344e;
                                        font-weight: 700;
                                        position: absolute;
                                        font-size: 16px;"> {{fieldSet}}%
                                    </sup>
                                    <span *ngIf="currentQuestion.category=='about-you'">You are on step 1</span>
                                    <span *ngIf="currentQuestion.category=='finances'">You are on step 2</span>
                                    <span *ngIf="currentQuestion.category=='recommendation'">You are on step 3</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contain centered-wrapper container" [ngClass]="{'p-100':!currentQuestion.category}">
    <div class="centered-content contianer">
        <button class="buttonBack" (click)="previousClick()" *ngIf="isButtonVisible">Back</button>

        <div class="mt-132" *ngIf="currentQuestion">
            <section *ngIf="!showRecommendation">
                <h1 class="titleText">
                    {{currentQuestion.title}}
                    <a *ngIf="currentQuestion.name === 'children'" (click)="isChildrenPopupVisible = true" class="info" href="javascript:void(0)"></a>
                </h1>
                <div class="questionsStyle" *ngIf="currentQuestion.subtitle">
                    {{currentQuestion.subtitle}}
                </div>
            </section>
            <section *ngIf="!showRecommendation" class="mt-132">
                <form [formGroup]="formGroup" (ngSubmit)="continue()">
                    <div class="row w-75 mx-auto">
                        <div class="questionsStyle col-sm-7 mx-auto" *ngIf="currentQuestion.question">
                            {{currentQuestion.question}}
                        </div>
                        <!-- radio buttons -->
                        <div *ngIf="currentQuestion.type === 'radio'" class="col-sm-7 mx-auto">
                            <div class="inputFull" *ngFor="let instance of currentQuestion.options; let i = index;" [ngClass]="{ 'active': instance.active, 'show-pointer': currentQuestion.type === 'radio' }" (click)="radioSelection(i)">
                                <input [formControlName]="currentQuestion.name" [type]="currentQuestion.type" class="inpChecked form-control" [value]="instance.text" [name]="currentQuestion.name" [checked]="instance.active">
                                <label class="optStyle">
                  {{ instance.text | titlecase }}
                  {{ currentQuestion.name === 'children' && instance.text === 'yes' ? ', I have' : '' }}
                </label>
                                <ng-container *ngIf="currentQuestion.name === 'children' && instance.text === 'yes'">
                                    <div class="children-length">
                                        <select formControlName="children-length">
                      <option *ngFor="let opt of [1,2,3,4,5,6,7,8]" [value]="opt">{{ opt }}</option>
                    </select>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- textboxes -->
                        <div *ngIf="currentQuestion.type === 'text'" class="inline-container" [class.inline]="currentQuestion.inline">
                            <input [formControlName]="currentQuestion.controls[i]" type="text" class="inputText inputHalf" [placeholder]="fields" *ngFor="let fields of currentQuestion.options; let i = index;">
                        </div>
                        <!-- slider control -->
                        <div *ngIf="currentQuestion.type === 'slider'" class="col-sm-7 mx-auto">
                            <input readonly type="text" class="inputFull inputSlide mb-74" matInput [value]="sliderValue | currency" [class.hasValue]="sliderValue > 0">
                            <mat-slider [step]="1000" [max]="currentQuestion.validations.max" [min]="currentQuestion.validations.min" (change)="sliderValueChange$.next($event.value)" [value]="sliderValue"></mat-slider>
                            <section class="slider-amounts">
                                <label class="sliderLabel">{{currentQuestion.validations.min | currency}}</label>
                                <label class="sliderLabel">{{currentQuestion.validations.max | currency}}</label>
                            </section>
                        </div>
                        <!-- slider control -->
                        <div *ngIf="currentQuestion.type === 'date-slider'" class="col-sm-7 mx-auto">
                            <mat-slider [max]="currentQuestion.validations.max" [min]="currentQuestion.validations.min" (change)="sliderValueChange$.next($event.value)" [value]="sliderValue"></mat-slider>
                            <section class="slider-amounts">
                                <label class="sliderLabel">{{currentQuestion.validations.min}} years</label>
                                <label class="sliderLabel">{{currentQuestion.validations.max}} years</label>
                            </section>
                        </div>
                        <!-- dates -->
                        <div *ngIf="currentQuestion.type === 'date'" class="date-container">
                            <input matInput readonly [matDatepicker]="dp3" [value]="dateValue" [max]="maxDate" (dateChange)="dateSelected($event)" class="inputDate input1" placeholder="Date of Birth">
                            <div class="calenderIcon">
                                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                            </div>
                            <input type="text" class="inputDate input2" placeholder="MM" readonly [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
                            <input type="text" class="inputDate input3" placeholder="DD" readonly [(ngModel)]="month" [ngModelOptions]="{standalone: true}">
                            <input type="text" class="inputDate input4" placeholder="YYYY" readonly [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
                        </div>
                        <!-- preferences -->
                        <div *ngIf="currentQuestion.type === 'products-radio'" class="row mt-4 w-100 mt-3 mx-auto">
                            <div *ngFor="let checkboxItem of currentQuestion.options; let i = index;" class="col-md-4 mt-4 text-center">
                                <a href="javascript:void(0)" class="preference" [ngClass]="{ 
                                'active': checkboxItem.active, 
                                'life-insurance': checkboxItem.text === 'life-insurance', 
                                'critical-illness': checkboxItem.text === 'critical-illness', 
                                'long-term-care': checkboxItem.text === 'long-term-care'
                              }" (click)="checkboxSelection(i)">
                                    <span class="title">{{ checkboxItem.htmlTitle }}</span>
                                    <div class="show-on-hover">{{ checkboxItem.hoverText }}</div>
                                </a>
                            </div>
                        </div>
                        <!-- div -->
                        <div *ngIf="currentQuestion.type === 'div'" class="row mt-4 w-100 mt-3 mx-auto">
                            <div *ngFor="let checkboxItem of currentQuestion.options; let i = index;" class="col-md-6 p-2 text-center " (click)="setCardValue(checkboxItem.htmlTitle,currentQuestion.name)">
                                <div class="card-mat">
                                    <mat-card class="example-card">
                                        <mat-card-header>
                                            <mat-card-title>{{checkboxItem.htmlTitle}}</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>
                                                {{checkboxItem.text}}
                                            </p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                            <div *ngIf="subDiv && currentQuestion.subDiv" class="inline-container w-50" [class.inline]="currentQuestion.inline">
                                <h2 class="subDivH2">What is your desired coverage amount?</h2>
                                <input type="text" placeholder="0" class="inputFull inputSlide mb-74 w-100" matInput (keyup)="sliderValueChangeSub()" [(ngModel)]="subDivvalue" [ngModelOptions]="{standalone:true}" [class.hasValue]="sliderValue > 0" appNumberOnly>
                                <!-- <mat-slider [step]="1000" [max]="currentQuestion.subDiv.max" [min]="currentQuestion.subDiv.min" (change)="sliderValueChangeSub($event.value)" [value]="sliderValue"></mat-slider>
                                <section class="slider-amounts">
                                    <label class="sliderLabel">{{currentQuestion.subDiv.min | currency}}</label>
                                    <label class="sliderLabel">{{currentQuestion.subDiv.max | currency}}</label>
                                </section> -->
                            </div>
                        </div>

                        <!-- let's get to know you -->
                        <div *ngIf="currentQuestion.name === 'gettoknowyou'" class="get-started">
                            <div class="start start1">
                                Your insurance needs and preferences
                            </div>
                            <div class="start start2">
                                Your family & lifestyle factors
                            </div>
                            <div class="start start3">
                                Your family’s benefits, savings, and income
                            </div>
                        </div>
                        <section *ngIf="currentQuestion.name === 'gettoknowyou'" class="get-started-content">
                            <p>4 minutes</p>
                            <span>Estimate time to recommendation</span>
                        </section>
                    </div>
                    <!-- submit/skip -->
                    <div class="text-center mt-50 mb-80" [ngClass]="{'button-container':currentQuestion.name!='mortgage'}">
                        <button [disabled]="formGroup.invalid" type="submit" class="submitBtn">
                         {{ currentQuestion.last ? 'See Recommendation' : (currentQuestion.id === 1 ? 'Let\'s
                        get started' : 'Continue') }}
                        </button>
                        <button *ngIf="currentQuestion.name=='mortgage'" class="skipText" (click)="continue(true)">I don't have a mortage</button>
                        <button *ngIf="currentQuestion.skip" class="skipText" (click)="continue(true)">Skip for now</button>
                    </div>
                </form>
            </section>
            <!-- see recommendations -->
            <section *ngIf="showRecommendation" class="recommendation">

                <h4 class="common-h4">Our recommendation</h4>
                <div class="accordion accodian-wrap m-4" id="faq">
                    <div class="card">
                        <div class="card-header" id="faqhead1">
                            <a href="javascript:void(0)" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1"><img src="assets/images/lifeinsurance-unselected1.svg" class="img-fluid"> Life Insurance - Tier 1 Label
                                <div class="rec-tag">
                                    <img src="assets/images/registerAsset6@2x2.svg" width="18px"> Recommended
                                </div>
                                <!-- <i class="fa ml-auto" [ngClass]="{'fa-chevron-up':x.show,'fa-chevron-down':!x.show}" aria-hidden="true" (click)="x.show=!x.show"></i> -->

                            </a>
                        </div>
                        <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                            <div class="card-body recommend-card" style="background: #fff;">
                                <div class="row" style="justify-content: space-between;align-items: center;text-align: center;">
                                    <div style="margin-right: 20px;margin-left: 20px;"> <img src="assets/images/lowtierAsset4@2x2.svg">
                                    </div>
                                    <div class="pay-length">
                                        <h3>$27.36</h3>
                                        <h5>Monthly payment</h5>
                                    </div>
                                    <div class="pay-length">
                                        <h3>$10000</h3>
                                        <h5>Coverage Amount</h5>
                                    </div>
                                    <div class="pay-length">
                                        <h3>20 Years</h3>
                                        <h5>Policy length</h5>
                                    </div>
                                </div>
                                <h5 class="h5-h">If you die in the next 10 years, a person of your choice will receive $10000 for just $27.36/month!</h5>
                                <div class="text-right c-ffoter">
                                    <a href="#">Learn more</a>
                                    <a href="#" class="select">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="common-h4" *ngIf="recommendedArray.length>0">More options</h4>
                <div class="accordion accodian-wrap m-4" id="faq" *ngFor="let x of recommendedArray;let i=index">
                    <div class="card">
                        <div class="card-header" id="faqhead1">
                            <a href="javascript:void(0)" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1"><img src="assets/images/lifeinsurance-unselected1.svg" class="img-fluid"> Life Insurance - Tier {{i+2}} Label

                                <i class="fa ml-auto" [ngClass]="{'fa-chevron-up':x.show,'fa-chevron-down':!x.show}" aria-hidden="true" (click)="x.show=!x.show"></i>

                            </a>
                        </div>
                        <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq" *ngIf="x.show">
                            <div class="card-body recommend-card" style="background: #fff;">
                                <div class="row" style="justify-content: space-between;align-items: center;text-align: center;">
                                    <div style="margin-right: 20px;margin-left: 20px;"> <img src="assets/images/lowtierAsset4@2x2.svg">
                                    </div>
                                    <div class="pay-length">
                                        <h3>$27.36</h3>
                                        <h5>Monthly payment</h5>
                                    </div>
                                    <div class="pay-length">
                                        <h3>$10000</h3>
                                        <h5>Coverage Amount</h5>
                                    </div>
                                    <div class="pay-length">
                                        <h3>20 Years</h3>
                                        <h5>Policy length</h5>
                                    </div>
                                </div>
                                <h5 class="h5-h">If you die in the next 10 years, a person of your choice will receive $10000 for just $27.36/month!</h5>
                                <div class="text-right c-ffoter">
                                    <a href="#">Learn more</a>
                                    <a href="#" class="select">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- children popup -->
<section class="popup" *ngIf="isChildrenPopupVisible">
    <div class="content">
        <img src="assets/images/life-insurance-hover.svg" alt="">
        <div class="reason">
            <div class="title">Why do we ask about your children?</div>
            <p>
                Life insurance is all about protecting the people you love. If there are people who rely on your financial support, a life insurance policy will make sure they have enough money if something unexpected happens to you and your income is no longer there.
            </p>
            <div class="text-right">
                <a (click)="isChildrenPopupVisible = false" href="javascript:void(0)">Return to question</a>
            </div>
        </div>
    </div>
</section>

<!-- ontartio popup -->
<section class="popup" *ngIf="isOntarioPopupVisible">
    <div class="content">
        <img src="assets/images/ontario.svg" alt="">
        <div class="reason">
            <div class="title">We are working hard to expand our reach!</div>
            <p>
                Thank you for expressing so much interest however, for the time being we are only servicing people who live in Ontario. We are working hard to expand our reach to other provinces, please stay tuned!
            </p>
            <div class="text-right">
                <a (click)="redirectToHome()" href="javascript:void(0)">Return to homepage</a>
            </div>
        </div>
    </div>
</section>