<div class="alert alert-success" *ngIf="localServiceVar.type=='success'">
    <strong>Success!</strong> {{localServiceVar.text}}
</div>
<div class="alert alert-info" *ngIf="localServiceVar.type=='info'">
    <strong>Info!</strong> {{localServiceVar.text}}
</div>
<div class="alert alert-warning" *ngIf="localServiceVar.type=='warning'">
    <strong>Warning!</strong> {{localServiceVar.text}}
</div>
<div class="alert alert-danger" *ngIf="localServiceVar.type=='error'">
    <strong>Danger!</strong> {{localServiceVar.text}}
</div>
<!-- <div class="alert alert-primary" *ngIf="localServiceVar">
    <strong>Primary!</strong> Indicates an important action.
</div>
<div class="alert alert-secondary" *ngIf="localServiceVar">
    <strong>Secondary!</strong> Indicates a slightly less important action.
</div>
<div class="alert alert-dark" *ngIf="localServiceVar">
    <strong>Dark!</strong> Dark grey alert.
</div>
<div class="alert alert-light" *ngIf="localServiceVar">
    <strong>Light!</strong> Light grey alert.
</div> -->